{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center mt-5">
        <h2 class="border-light bg-info text-light btn mt-5">Connecte toi</h2>
    </div>
    <p class="small d-flex justify-content-center"><strong>Marque le plus de points en reconnaissant le maximum de chansons</strong></p>
    <div class=" form-register row justify-content-center align-content-center">
        <div id="concept" class="home-section container bg-transparent col-11 rounded mb-5 pt-3 p-1 shadow mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 col-sm-10 ">
                    <a class="btn-info btn d-flex justify-content-end" href="{{ path('home') }}">Retour à l'accueil</a>

                            <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                            <label for="inputPseudo">Pseudo</label>
                            <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            <button class="btn btn-lg btn-info mt-2" type="submit">
                                Se connecter
                            </button>
                        </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
