{% extends 'base.html.twig' %}

{% block title %}BLINDTEST{% endblock %}

{% block body %}

    {% if app.user %}
<div class="d-flex justify-content-center">
    {{ include('component/_progress.html.twig') }}
</div>
    {% endif %}
    {{ include('component/_classement.html.twig') }}

    {% if app.user %}
    <div class="d-flex justify-content-center mt-5">

    <div class=" mt-5 ">
        <form action="{{ path('titre_guess') }}" method="POST">

            {% for chanson in chansonsToGuess[0].chansons %}


                <a class="list-group ">

                    <div class="dropdown card bg-transparent justify-content-center" style="width: 400px;" >

                        <button class="btn btn-secondary border-info bg-transparent dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <a href="" class="list-group-item bg-transparent">
                                <h5 class="mb-1 text-light">CHANSON MYSTERE <span class="badge badge-info badge-pill">{{ loop.index }}</span></h5>
                            </a>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

                            <button class="dropdown-item bg-transparent" type="button">


                                    <div class="d-flex justify-content-center embed-responsive-21by9 mt-1">
                                        <iframe class="embed-responsive-item"
                                                src="https://www.youtube.com/embed/{{ chanson.youtubeId[32:] }}">
                                        </iframe>
                                    </div>

                            </button>

                        </div>

                        <label for="titre"> <span class="badge badge-info badge-pill">Titre : </span></label>
                            <input type="text" id="titre" name="title[{{ chanson.id }}]]"/>

                    </div>
                </a>

            {% endfor %}

            <button class="btn btn-info mt-1">Valider</button>
            {% else %}
        <h4 class=" mt-5 d-flex justify-content-center">CONNECTE TOI POUR AFFRONTER LES <br> AUTRES JOUEURS SUR UNE PLAYLIST</h4>
            {% endif %}
        </form>

    </div>
</div>

{% endblock %}
