{% extends 'base.html.twig' %}

{% block title %}BLINDTEST{% endblock %}

{% block body %}


    {{ include('component/_classement.html.twig') }}

    {% if app.user %}
        <div class="flex-column">
        <h4 class=" mt-5 d-flex justify-content-center">HELLO {{ app.user.pseudo }} <br> CHOISIS UNE PLAYLIST <br> ET VA DEFIER LES MEILLEURS DU CLASSEMENT</h4>
        <div class="d-flex justify-content-center">
            <ul class="list-unstyled">
                {% for playlist in chansonsToGuess %}
                    <li>
                        <div class=" m-1">
                            <img class="" src="{{ playlist.urlImage }}" alt="imagePlaylist"
                                 style="width: 50px;">{{ playlist.nom }}<i class="fas fa-volume-down"></i>
                            <a href="{{ path('playlist_show', {'id': playlist.id}) }}">
                                <i class="fas fa-play btn btn-danger"></i>
                            </a>
                        </div>

                    </li>
                {% endfor %}
            </ul>

        </div>
            {% else %}
        <h4 class=" mt-5 d-flex justify-content-center">CONNECTE TOI POUR AFFRONTER LES <br> AUTRES JOUEURS SUR UNE PLAYLIST</h4>
            {% endif %}
    </div>

{% endblock %}
