{% extends 'base.html.twig' %}

{% block title %}Playlist index{% endblock %}

{% block body %}
<div class="mt-4">
    <h1 class="mt-5 d-flex justify-content-center mt-5"><a href="{{ path('playlist_new') }}" >
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter une nouvelle Playlist">

                <i class="fas fa-plus  m-0 p-0"></i>
            </button>
        </a></h1>
    <p class="small d-flex justify-content-center"><strong>Crée les playslists les plus originales</strong>
    </p>
</div>

    {% for playlist in playlists %}
        <div class=" d-flex justify-content-center m-3">
            <div class="card bg-transparent">
                <div class="card-header  bg-info m-0 p-0">
                    <div class="d-inline-flex">
                        <h3>{{ playlist.nom }}</h3>
                    <a href="{{ path('playlist_edit', {'id': playlist.id}) }}">
                        <i class="fas fa-pen m-0 p-0"></i>
                    </a>
                    <form class="m-0 p-0" method="post" action="{{ path('playlist_delete', {'id': playlist.id}) }}"
                          onsubmit="return confirm('Etes-vous sûr de supprimer cette playlist?');">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ playlist.id) }}">
                        <button class="btn m-0 p-0">
                            <i class="fas fa-trash badge-info m-0 p-0"></i>
                        </button>
                    </form>
                    </div>
                </div>

                <div class="card-text mt-3 d-inline-flex">
                    <img src="{{ playlist.urlImage }}" style="height: 100px; width: auto" class="figure-img img-fluid rounded"
                                           alt="playlistImage">

                    <div class="flex-column p-1">

                        <p>  Défie un joueur sur ce blindtest !</p>
                        <p><i class="fas fa-blind"></i>{{ playlist.chansons|length }} chansons dans cette playlist</p>
                        <h1><i class="fas fa-play btn btn-danger"></i></h1>
                    </div>
                </div>

                    <button type="button" class="btn btn-info dropdown-toggle mb-1" data-toggle="dropdown"
                            data-display="static" aria-haspopup="true" aria-expanded="false"><strong>
                        VOIR LES CHANSONS DE LA PLAYLIST ... Attention spoiler</strong>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right  mb-5">

                        {% for chanson in playlist.chansons %}

                            <span class="dropdown-item d-inline-flex">
                                     <i class="fab fa-youtube"></i>
                                     {{ chanson.titre }} - {{ chanson.artiste }}
                                    <a href="{{ path('chanson_edit', {'id': chanson.id}) }}">
                                        <i class="fas fa-pen  m-0 p-0"></i>
                                    </a>
                                </span>

                        {% endfor %}
                        <div class="d-flex justify-content-end">
                                    <em>Ajoute un chanson</em>
                                    <button type="button" class="btn btn-info" data-container="body"
                                            data-toggle="popover" data-placement="bottom" data-content="Bottom popover">
                                        <a href="{{ path('chanson_new') }}"><i class="fas fa-plus  m-0 p-0"></i></a>
                                    </button>
                        </div>
                    </div>
                </div>
            </div>
    {% else %}Aucune chanson{% endfor %}

{% endblock %}
