{% extends 'base.html.twig' %}

{% block title %}Playlist{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="d-flex justify-content-center">
            {{ include('component/_progress.html.twig') }}
        </div>
    {% endif %}

    <div class="position-absolute d-inline-flex bottom-0 start-100">
        {% if app.user %}
            <div class="flex-column d-flex">
                <div class="badge badge-info text-wrap" style="width: 6rem;">
                    <mark class=" d-flex justify-content-center bg-light"> {{ app.user.pseudo }}</mark>
                    <small><strong>Tu ne vois plus rien, aide toi de ton chien .. </strong></small>
                    <img class="rounded-circle" src="{{ asset('build/images/chien.jpg') }}" alt="avatarLabrador"
                         style="width: 150px;">
                </div>
            </div>
        {% endif %}
    </div>

    <form action="{{ path('playlist_titre_guess', {'id': playlist.id}) }}" method="POST">


        {% for chanson in playlist.chansons %}

            <div class="d-flex justify-content-center">

                <a class="list-group ">

                    <div class="dropdown card bg-transparent justify-content-center" style="width: 400px;">

                        <button class="btn btn-secondary border-info bg-transparent dropdown-toggle" type="button"
                                id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <a href="" class="list-group-item bg-transparent">
                                <h5 class="mb-1 text-light">CHANSON MYSTERE <span
                                            class="badge badge-info badge-pill">{{ loop.index }}</span></h5>
                            </a>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

                            <button class="dropdown-item bg-transparent" type="button">


                                <div class="d-flex justify-content-center embed-responsive-21by9 mt-1">
                                    <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/{{ chanson.youtubeId[32:] }}">
                                    </iframe>
                                </div>

                            </button>

                        </div>

                        <label for="titre"> <span class="badge badge-info badge-pill">Titre : </span></label>
                        <input type="text" id="titre" name="title[{{ chanson.id }}]]"/>

                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            <button class="btn btn-info mt-1">Valider</button>
        </div>


    </form>

{% endblock %}
